/unidad6Practicas/build/
/unidad6Teoria/build/
/unidad6Ejercicios/build/
/unidad5Ejercicios/build/
/Unidad5Practicas/build/
/Unidad5Teoría/build/
/pruebas/target/
/pruebas/nbproject/
/Unidad5Teoría/nbproject/private/
/unidad6Practicas/nbproject/private/
/unidad6Teoria/nbproject/private/
/unidad6Ejercicios/nbproject/private/
/unidad5Ejercicios/nbproject/private/
/Unidad5Practicas/nbproject/private/
